parameters:
  accessManager:
    leeway: 60
    issuer: "recodex_at_{{ fileserver_addr }}:{{ fileserver_port }}"
    audience: "recodex_at_{{ fileserver_addr }}:{{ fileserver_port }}"
    expiration: 86400
    algorithm: HS256

  fileServer:
    address: http://{{ fileserver_addr }}:{{ fileserver_port }}
    username: "{{ fileserver_username }}"
    password: "{{ fileserver_password }}"
    jobConfigFileName: "job-config.yml"

  broker:
    address: tcp://{{ broker_to_webapi_addr }}:{{ broker_to_webapi_port }}


doctrine:
  host: localhost
  user: {{ mysql_recodex_username }}
  password: {{ mysql_recodex_password }}
  dbname: recodex-api
