CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CMakeLists.txt.user
doc/
build/
installation/virtual_*
.idea/
*.pyc

/regression_tests/.vscode
/lowlevel_db_ops/config/config.ini.php
/lowlevel_db_ops/vendor
/solution-downloader/.vscode
/solution-downloader/__pycache__
/solution-downloader/config.yaml
/plagiarisms/.vscode
/plagiarisms/config.yaml
/plagiarisms/archive
/plagiarisms/last
/plagiarisms/logs
