{% if fileserver_port != 80 %}
Listen {{ fileserver_port }}
{% endif %}

<VirtualHost {{ fileserver_addr }}:{{ fileserver_port }}>
    ServerName {{ recodex_hostname }}
    LogLevel info

    <Directory "{{ source_dir }}/fileserver">
        Require all granted
    </Directory>

    <Location />
	AuthName "ReCodEx fileserver"
	AuthType Basic
	AuthUserFile /etc/httpd/recodex_htpasswd
	Require valid-user
    </Location>

    ProxyPass / http://127.0.0.1:10999/
    ProxyPassReverse / http://127.0.0.1:10999/

</VirtualHost>
