Listen 9999

<VirtualHost *:9999>
    LogLevel info
    ServerName recodex-fsrv
    SetEnv WORKING_DIRECTORY /var/recodex-fileserver
    WSGIDaemonProcess recodex-fsrv processes=1 user=recodex python-path="{{ source_dir }}/fileserver"
    WSGIProcessGroup recodex-fsrv
    WSGIScriptAlias / "{{ source_dir }}/fileserver/fileserver.wsgi"

    <Directory "{{ source_dir }}/fileserver">
        Require all granted
    </Directory>

</VirtualHost>
