- name: add epel repository
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: http://download.fedoraproject.org/pub/epel/$releasever/$basearch/

- name: add EPEL gpg key
  command: sh -c "curl https://getfedora.org/static/352C64E5.txt > /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7 && rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7"

- name: make sure git is installed
  yum: name=git state=latest

- name: make sure yum utils are installed
  yum: name=yum-utils state=latest

- name: make sure user 'recodex' is present
  user: name=recodex shell=/sbin/nologin

- name: set selinux to permissive mode
  selinux: state=permissive policy=targeted

- name: set selinux to permissive in runtime without reboot
  command: setenforce 0
  ignore_errors: yes

