- name: make sure MariaDB is installed
  yum: name=mariadb,mariadb-server,mariadb-devel state=latest

- name: make sure MariaDB is running and enabled
  service: name=mariadb state=running enabled=yes

- name: set database root password
  command: mysqladmin -u root password "{{ mysql_root_password }}"

- name: create ~/.my.cnf file
  template: src="my.cnf.j2" dest="/root/.my.cnf" owner=root group=root mode=0600

- name: enable port in firewall
  firewalld: service=mysql state=enabled permanent=yes immediate=yes
  when: database_firewall == 'yes'
